.container {
    border-radius: .2rem;
    background-color: #dfe3e6;
    padding: .5rem;
}

.title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .25rem;
    align-items: center;
}

.title h2 {
    color: #17394d;
    font-weight: 700;
    font-size: .9rem;
}

.title .icon {
    justify-self: end;
    color: #798d99;
    width: 1.25rem;
}

.cards {
    display: grid;
    grid-template-rows: auto;
    grid-gap: .5rem;
    margin: .5rem 0;
}

.cta {
    padding: .25rem;
    display: flex;
    color: #798d99;
}

.cta .icon {
    width: .90rem;
    margin-right: .25rem;
}