.container {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    padding: .5rem;
}

.title {
    color: #17394d;
    margin-bottom: .75rem;
}

.actions {
    display: flex;
    align-items: center;
}

.icon {
    color: #798d99;
    width: .75rem;
    margin-right: .5rem;
}
