.tag {
    font-size: .75rem;
    padding: .125rem .5rem;
    border-radius: .25rem;
    font-weight: 700;
    color: white;
    margin-bottom: .75rem;
    margin-right: .25rem;
    display: inline-block;
}

.browserTag {
    background-color: #c377e0;
}

.designTag {
    background-color: #61bd4f;
}

.highPriorityTag {
    background-color: #eb5a46;
}

.lowPriorityTag {
    background-color: #00c2e0;
}